.navBar {
  height: 4em;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.navLogo {
  height: 3.5em;
  width: 3.5em;
  margin-left: 1em;
}

.topText, .logoFont {
  font-family: var(--main-text);
  color: rgb(18, 20, 128);
  font-weight: 700;
  font-size: 1em;
}

.logoFontContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
}

.topText {
  font-size: 1.35em;
}

.icon {
  color: rgb(18, 20, 128);
  margin: .2em;
}

.socialBox {
  margin-right: 2em;
}

.skyline {
  position: fixed;
  bottom: -5%;
  left: 0;
  width: 100%;
  opacity: .7;
  z-index: -1;
}

.fullLogo {
  height: 10em;
}

.flyer {
  height: 30em;
  border: 2px solid black;
  border-radius: 4px;
}

.flyerContainer {
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.582);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
  padding: 1em;
  background: rgba(245, 245, 245, 0.76);
}

.pageLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

@media only screen and (max-width: 600px) {
  .topText {
    font-size: .9em;
  }
  .logoFont {
    font-size: .7em;
  }
  .skyline {
    bottom: 0;
    transform: scale(2);
  }
}

@media only screen and (min-width: 600px) {
  .flyer {
    height: 40em;
  }
}

@media only screen and (min-width: 900px) {
  .skyline {
    bottom: -10%;
  }
  .flyer {
    height: 50em;
  }
}

